In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("kidney_disease.csv")

In [3]:
dataset

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [4]:
dataset.isnull().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
id                400 non-null int64
age               391 non-null float64
bp                388 non-null float64
sg                353 non-null float64
al                354 non-null float64
su                351 non-null float64
rbc               248 non-null object
pc                335 non-null object
pcc               396 non-null object
ba                396 non-null object
bgr               356 non-null float64
bu                381 non-null float64
sc                383 non-null float64
sod               313 non-null float64
pot               312 non-null float64
hemo              348 non-null float64
pcv               330 non-null object
wc                295 non-null object
rc                270 non-null object
htn               398 non-null object
dm                398 non-null object
cad               398 non-null object
appet             399 non-null object
pe                399 non-null object
ane               399 non-null object
classification    400 non-null object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.4+ KB

In [6]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [7]:
dataset

,id,age,bp,sg,al,su,bgr,bu,sc,sod,...,dm_ yes,dm_no,dm_yes,cad_no,cad_yes,appet_poor,pe_yes,ane_yes,classification_ckd\t,classification_notckd
0,0,48.0,80.0,1.020,1.0,0.0,121.0,36.0,1.2,NaN,...,0,0,1,1,0,0,0,0,0,0
1,1,7.0,50.0,1.020,4.0,0.0,NaN,18.0,0.8,NaN,...,0,1,0,1,0,0,0,0,0,0
2,2,62.0,80.0,1.010,2.0,3.0,423.0,53.0,1.8,NaN,...,0,0,1,1,0,1,0,1,0,0
3,3,48.0,70.0,1.005,4.0,0.0,117.0,56.0,3.8,111.0,...,0,1,0,1,0,1,1,1,0,0
4,4,51.0,80.0,1.010,2.0,0.0,106.0,26.0,1.4,NaN,...,0,1,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,140.0,49.0,0.5,150.0,...,0,1,0,1,0,0,0,0,0,1
396,396,42.0,70.0,1.025,0.0,0.0,75.0,31.0,1.2,141.0,...,0,1,0,1,0,0,0,0,0,1
397,397,12.0,80.0,1.020,0.0,0.0,100.0,26.0,0.6,137.0,...,0,1,0,1,0,0,0,0,0,1
398,398,17.0,60.0,1.025,0.0,0.0,114.0,50.0,1.0,135.0,...,0,1,0,1,0,0,0,0,0,1
399,399,58.0,80.0,1.025,0.0,0.0,131.0,18.0,1.1,141.0,...,0,1,0,1,0,0,0,0,0,1

In [8]:
def quanQual(dataset):
    quan=[]
    qual=[]
    for columnName in dataset.columns:
        #print(columnName)
        if(dataset[columnName].dtype=='O'):
            #print("qual")
            qual.append(columnName)
        else:
            #print("quan")
            quan.append(columnName)
    return quan,qual

In [9]:
quan,qual=quanQual(dataset)

In [22]:
quan

['id',
 'age',
 'bp',
 'sg',
 'al',
 'su',
 'bgr',
 'bu',
 'sc',
 'sod',
 'pot',
 'hemo',
 'rbc_normal',
 'pc_normal',
 'pcc_present',
 'ba_present',
 'pcv_\t?',
 'pcv_14',
 'pcv_15',
 'pcv_16',
 'pcv_17',
 'pcv_18',
 'pcv_19',
 'pcv_20',
 'pcv_21',
 'pcv_22',
 'pcv_23',
 'pcv_24',
 'pcv_25',
 'pcv_26',
 'pcv_27',
 'pcv_28',
 'pcv_29',
 'pcv_30',
 'pcv_31',
 'pcv_32',
 'pcv_33',
 'pcv_34',
 'pcv_35',
 'pcv_36',
 'pcv_37',
 'pcv_38',
 'pcv_39',
 'pcv_40',
 'pcv_41',
 'pcv_42',
 'pcv_43',
 'pcv_44',
 'pcv_45',
 'pcv_46',
 'pcv_47',
 'pcv_48',
 'pcv_49',
 'pcv_50',
 'pcv_51',
 'pcv_52',
 'pcv_53',
 'pcv_54',
 'pcv_9',
 'wc_\t8400',
 'wc_\t?',
 'wc_10200',
 'wc_10300',
 'wc_10400',
 'wc_10500',
 'wc_10700',
 'wc_10800',
 'wc_10900',
 'wc_11000',
 'wc_11200',
 'wc_11300',
 'wc_11400',
 'wc_11500',
 'wc_11800',
 'wc_11900',
 'wc_12000',
 'wc_12100',
 'wc_12200',
 'wc_12300',
 'wc_12400',
 'wc_12500',
 'wc_12700',
 'wc_12800',
 'wc_13200',
 'wc_13600',
 'wc_14600',
 'wc_14900',
 'wc_15200',
 'wc_15700',
 'wc_16300',
 'wc_16700',
 'wc_18900',
 'wc_19100',
 'wc_21600',
 'wc_2200',
 'wc_2600',
 'wc_26400',
 'wc_3800',
 'wc_4100',
 'wc_4200',
 'wc_4300',
 'wc_4500',
 'wc_4700',
 'wc_4900',
 'wc_5000',
 'wc_5100',
 'wc_5200',
 'wc_5300',
 'wc_5400',
 'wc_5500',
 'wc_5600',
 'wc_5700',
 'wc_5800',
 'wc_5900',
 'wc_6000',
 'wc_6200',
 'wc_6300',
 'wc_6400',
 'wc_6500',
 'wc_6600',
 'wc_6700',
 'wc_6800',
 'wc_6900',
 'wc_7000',
 'wc_7100',
 'wc_7200',
 'wc_7300',
 'wc_7400',
 'wc_7500',
 'wc_7700',
 'wc_7800',
 'wc_7900',
 'wc_8000',
 'wc_8100',
 'wc_8200',
 'wc_8300',
 'wc_8400',
 'wc_8500',
 'wc_8600',
 'wc_8800',
 'wc_9000',
 'wc_9100',
 'wc_9200',
 'wc_9300',
 'wc_9400',
 'wc_9500',
 'wc_9600',
 'wc_9700',
 'wc_9800',
 'wc_9900',
 'rc_2.1',
 'rc_2.3',
 'rc_2.4',
 'rc_2.5',
 'rc_2.6',
 'rc_2.7',
 'rc_2.8',
 'rc_2.9',
 'rc_3',
 'rc_3.0',
 'rc_3.1',
 'rc_3.2',
 'rc_3.3',
 'rc_3.4',
 'rc_3.5',
 'rc_3.6',
 'rc_3.7',
 'rc_3.8',
 'rc_3.9',
 'rc_4',
 'rc_4.0',
 'rc_4.1',
 'rc_4.2',
 'rc_4.3',
 'rc_4.4',
 'rc_4.5',
 'rc_4.6',
 'rc_4.7',
 'rc_4.8',
 'rc_4.9',
 'rc_5',
 'rc_5.0',
 'rc_5.1',
 'rc_5.2',
 'rc_5.3',
 'rc_5.4',
 'rc_5.5',
 'rc_5.6',
 'rc_5.7',
 'rc_5.8',
 'rc_5.9',
 'rc_6.0',
 'rc_6.1',
 'rc_6.2',
 'rc_6.3',
 'rc_6.4',
 'rc_6.5',
 'rc_8.0',
 'htn_yes',
 'dm_\tyes',
 'dm_ yes',
 'dm_no',
 'dm_yes',
 'cad_no',
 'cad_yes',
 'appet_poor',
 'pe_yes',
 'ane_yes',
 'classification_ckd\t',
 'classification_notckd']

In [11]:
qual

[]

In [12]:
dataset[quan]

,id,age,bp,sg,al,su,bgr,bu,sc,sod,...,dm_ yes,dm_no,dm_yes,cad_no,cad_yes,appet_poor,pe_yes,ane_yes,classification_ckd\t,classification_notckd
0,0,48.0,80.0,1.020,1.0,0.0,121.0,36.0,1.2,NaN,...,0,0,1,1,0,0,0,0,0,0
1,1,7.0,50.0,1.020,4.0,0.0,NaN,18.0,0.8,NaN,...,0,1,0,1,0,0,0,0,0,0
2,2,62.0,80.0,1.010,2.0,3.0,423.0,53.0,1.8,NaN,...,0,0,1,1,0,1,0,1,0,0
3,3,48.0,70.0,1.005,4.0,0.0,117.0,56.0,3.8,111.0,...,0,1,0,1,0,1,1,1,0,0
4,4,51.0,80.0,1.010,2.0,0.0,106.0,26.0,1.4,NaN,...,0,1,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,140.0,49.0,0.5,150.0,...,0,1,0,1,0,0,0,0,0,1
396,396,42.0,70.0,1.025,0.0,0.0,75.0,31.0,1.2,141.0,...,0,1,0,1,0,0,0,0,0,1
397,397,12.0,80.0,1.020,0.0,0.0,100.0,26.0,0.6,137.0,...,0,1,0,1,0,0,0,0,0,1
398,398,17.0,60.0,1.025,0.0,0.0,114.0,50.0,1.0,135.0,...,0,1,0,1,0,0,0,0,0,1
399,399,58.0,80.0,1.025,0.0,0.0,131.0,18.0,1.1,141.0,...,0,1,0,1,0,0,0,0,0,1

In [13]:
import numpy as np
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
imp.fit(dataset[quan])
df=imp.transform(dataset[quan])
df = pd.DataFrame(df,columns = quan)

In [14]:
df

,id,age,bp,sg,al,su,bgr,bu,sc,sod,...,dm_ yes,dm_no,dm_yes,cad_no,cad_yes,appet_poor,pe_yes,ane_yes,classification_ckd\t,classification_notckd
0,0.0,48.0,80.0,1.020,1.0,0.0,121.000000,36.0,1.2,137.528754,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,7.0,50.0,1.020,4.0,0.0,148.036517,18.0,0.8,137.528754,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.0,62.0,80.0,1.010,2.0,3.0,423.000000,53.0,1.8,137.528754,...,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
3,3.0,48.0,70.0,1.005,4.0,0.0,117.000000,56.0,3.8,111.000000,...,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0
4,4.0,51.0,80.0,1.010,2.0,0.0,106.000000,26.0,1.4,137.528754,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395.0,55.0,80.0,1.020,0.0,0.0,140.000000,49.0,0.5,150.000000,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
396,396.0,42.0,70.0,1.025,0.0,0.0,75.000000,31.0,1.2,141.000000,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
397,397.0,12.0,80.0,1.020,0.0,0.0,100.000000,26.0,0.6,137.000000,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
398,398.0,17.0,60.0,1.025,0.0,0.0,114.000000,50.0,1.0,135.000000,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
399,399.0,58.0,80.0,1.025,0.0,0.0,131.000000,18.0,1.1,141.000000,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

In [21]:
cate=dataset[qual]
cate

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[400 rows x 0 columns]

In [17]:
two=(df,cate)

In [18]:
preprocessed=pd.concat(two,axis=1)

In [19]:
preprocessed

,id,age,bp,sg,al,su,bgr,bu,sc,sod,...,dm_ yes,dm_no,dm_yes,cad_no,cad_yes,appet_poor,pe_yes,ane_yes,classification_ckd\t,classification_notckd
0,0.0,48.0,80.0,1.020,1.0,0.0,121.000000,36.0,1.2,137.528754,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,7.0,50.0,1.020,4.0,0.0,148.036517,18.0,0.8,137.528754,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.0,62.0,80.0,1.010,2.0,3.0,423.000000,53.0,1.8,137.528754,...,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
3,3.0,48.0,70.0,1.005,4.0,0.0,117.000000,56.0,3.8,111.000000,...,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0
4,4.0,51.0,80.0,1.010,2.0,0.0,106.000000,26.0,1.4,137.528754,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395.0,55.0,80.0,1.020,0.0,0.0,140.000000,49.0,0.5,150.000000,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
396,396.0,42.0,70.0,1.025,0.0,0.0,75.000000,31.0,1.2,141.000000,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
397,397.0,12.0,80.0,1.020,0.0,0.0,100.000000,26.0,0.6,137.000000,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
398,398.0,17.0,60.0,1.025,0.0,0.0,114.000000,50.0,1.0,135.000000,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
399,399.0,58.0,80.0,1.025,0.0,0.0,131.000000,18.0,1.1,141.000000,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

In [20]:
preprocessed.isnull().sum()

id                       0
age                      0
bp                       0
sg                       0
al                       0
                        ..
appet_poor               0
pe_yes                   0
ane_yes                  0
classification_ckd\t     0
classification_notckd    0
Length: 210, dtype: int64